.goods-item .arrow-icon{
    content: '';
    display: inline-block;
    width: 15px;
    height: 15px;
    background-image: url("../img/arrowlisticon.svg");
    background-size: cover;
    margin-right: 10px;
    transform: rotate(180deg);
    cursor: pointer;
}